{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ with .Title }}{{ . }}{{ else }}{{ .File.BaseFileName | humanize | title }}{{ end }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<p class="tagcloud">
  <span class="bmc-btn" onclick="bmc()">🌵&nbsp;Buy me a coffee</span>
  <span class="tag tag-7 play" onclick="play()" style="cursor: pointer;">
    🐹 Jugar
  </span>
  <span class="tag tag-4 tg" onclick="tg()" style="cursor: pointer;">
    🛩️ en Telegram
  </span>
  <a id="x-follow-button" class="btn" title="Seguir a @hamster2top en X" onclick="followx();"><i></i><span class="label" id="l">Seguir</b></span></a>
  <style>
    #x-follow-button {
      cursor: pointer;
      display: inline-block;
      background-color: #000;
      color: #fff;
      border-radius: 7px;
      padding: 10px 18px 14px 18px;
      margin: 7px 7px;
      text-decoration: none;
      line-height: 1.2em;
      font-size: 1.1em;
    }
    #x-follow-button i {
      
        position: relative;
        top: 4px;
        right: 4px;
        display: inline-block;
        width: 21px;
        height: 21px;
        background: transparent 0 0 no-repeat;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' fill='none'/%3E%3Cpath d='M17.9686 14.1623L26.7065 4H24.6358L17.0488 12.8238L10.9891 4H4L13.1634 17.3432L4 28H6.07069L14.0827 18.6817L20.4822 28H27.4714L17.9681 14.1623H17.9686ZM15.1326 17.4607L14.2041 16.132L6.81679 5.55961H9.99723L15.9589 14.0919L16.8873 15.4206L24.6368 26.5113H21.4564L15.1326 17.4612V17.4607Z' fill='white'/%3E%3C/svg%3E%0A");

    }
  </style>
  {{ if ne (len $.Site.Taxonomies.tags) 0 }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ range $term := (.GetTerms "tags") }}
      {{ $tagCount := len $term.Pages }}
      {{ $tagClassId := div (mul $tagCount 8) $max }}
      <a title="{{ $term.Name }} | {{ .Site.Title }}" class="tag tag-{{ $tagClassId }}" href="{{ $term.Permalink }}">
        #{{ $term.Name }}
      </a>
    {{ end }}
  {{ end }}
</p>
<content>
  {{ .Content }}
</content>
{{ end }}
