{{ if ne .Site.Params.hideMadeWithLine true }}<p><a href="https://xmr2usdt.com/">XMR USDT</a> <a href="https://menstrualdiscs.club/">Menstrual discs club</a> <a href="https://potatoes.recipes/">Potato recipes</a> <a href="https://dadhats.sale/">Dad hats sale/a> <a href="https://usdt2xmr.com/">USDT XMR</a></p>{{ end }}
{{ with .Site.Params.netlify_deployment_status_badge }}
<p><img loading="lazy" width="118" height="20" src="{{ . }}" alt="Netlify Status" /></p>
{{ end }}
{{ with .Params.aclib }}
<script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js"></script>
<script type="text/javascript">
    aclib.runAutoTag({
        zoneId: "{{ . }}",
    });
</script>
{{ end }}
