{{ if ne .Site.Params.hideMadeWithLine true }}<p><a href="https://xmr2usdt.com/">XMR USDT</a> <a href="http://menstrualdiscs.club/">Menstrual discs club</a></p>{{ end }}
{{ with .Site.Params.netlify_deployment_status_badge }}
<p><img loading="lazy" width="118" height="20" src="{{ . }}" alt="Netlify Status" /></p>
{{ end }}
{{ with .Params.aclib }}
<script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js"></script>
<script type="text/javascript">
    aclib.runAutoTag({
        zoneId: "{{ . }}",
    });
</script>
{{ end }}
