{{ $versionB := .Params.versionB | default false }}
{{ $dailyCipher := cond $versionB "Daily cipher" "Cifrado diario" }}
<a href="{{ "" | relURL }}" class="title">
  <h2 class="site-title">{{ .Site.Title }}</h2>
</a>
<nav>{{- partial "nav.html" . -}}</nav>
<p><strong>{{ $dailyCipher }} 9/10 de Junio:</strong> WEB3</p>
<p><strong>Código Morse:</strong> .-- . -... ...-- (<a href="/hamster_kombat_daily_cipher/">Cómo Iniciar el Daily Cipher</a>)</p>
<p><strong>Combo diario 10/11 de Junio:</strong> Influencers (PR & Team) Shit coins (Markets) Meme coins (Markets)</p>