{{ $versionB := .Params.versionB | default false }}
{{ $dailyCipher := cond $versionB "Daily cipher" "Cifrado diario" }}
<a href="{{ "" | relURL }}" class="title">
  <h2 class="site-title">{{ .Site.Title }}</h2>
</a>
<nav>{{- partial "nav.html" . -}}</nav>
<p><strong>{{ $dailyCipher }} 10/11 de Junio:</strong> AIRDROP (<span class="countdown" data-enddate="2024-06-11T23:00:00+04:00" data-endtext="Buy me a coffee"></span>)</p>
<p><strong>Código Morse:</strong> .- .. .-. -.. .-. --- .--. (<a href="/hamster_kombat_daily_cipher/">Cómo Iniciar el Daily Cipher</a>)</p>
<p><strong>Combo diario 10/11 de Junio:</strong> Influencers (PR & Team) Shit coins (Markets) Meme coins (Markets)</p>