{{ $versionB := .Params.versionB | default false }}
{{ $dailyCipher := cond $versionB "Daily cipher" "Cifrado diario" }}
<a href="{{ "" | relURL }}" class="title">
  <h2 class="site-title">{{ .Site.Title }}</h2>
</a>
<nav>{{- partial "nav.html" . -}}</nav>
<p><strong>{{ $dailyCipher }} 23/24 de Junio:</strong> SWAP (<span class="countdown"
  data-enddate="2024-06-24T23:00:00+04:00" style="cursor: pointer;"  data-endtext="en Telegram" onclick="tg()"></span>)</p>
<p><strong>Código Morse:</strong> ... .-- .- .--. (<a href="/hamster_kombat_daily_cipher/">Cómo Iniciar el Daily Cipher</a>)</p>
<p><strong>Combo diario 23/24 de Junio:</strong> (<span class="countdown"
  data-enddate="2024-06-24T16:00:00+04:00" data-endtext="en Telegram" style="cursor: pointer;" onclick="tg()"></span>)</p>
<p>Security team (PR&Team)
  Prediction markets (Markets)
  License Vietnam (Legal)</p>
<p></p>
<p>Suscríbete al canal de <a href="#telegram" onclick="tg()">Telegram</a> para recibir actualizaciones más rápido, así como para enterarte de los <strong>airdrops</strong> y lanzamientos de otros <strong>juegos</strong> en la red <strong>TON</strong></p>
<p><marquee height="32" style="cursor: pointer;" onclick="smsa()"><strong>🛩️ 🛩️ 🛩️ <span>¡Obtén más cuentas de Telegram!</span></strong>  ➤ ➤ ➤ ¡Y completa las misiones de invitar amigos fácilmente! 🐹 🐹 🐹</marquee></p>
<!-- <p><img loading="lazy" src="/maincard.png" onclick="maincard();" style="cursor: pointer;" /></p>
<p><img loading="lazy" src="/maincard.png" onclick="maincard();" style="cursor: pointer;" /></p> -->
<!-- <p><img loading="lazy" src="/pixeltap.jpg" onclick="pixeltap();" style="cursor: pointer;" /></p> -->
<!-- <p><img loading="lazy" src="/smsactivate.png" onclick="smsa();" style="cursor: pointer;" /></p> -->
<p class="banner-wrapper"><img loading="lazy" class="responsive" src="/koth.png" onclick="koth();" style="cursor: pointer;" /></p>
<!-- <p class="banner-wrapper"><img loading="lazy" class="responsive" src="/bybit.jpg" onclick="bybit();" style="cursor: pointer;" /></p> -->
<button class="fixed-round-button" onclick="tg_chat()">💌</button>